<h1><%= @machine.location %> Vending Machine</h1>

<% @machine.snacks.each do |snack| %>
  <section id="snack-<%= snack.id %>">
    <h4> <%= snack.name %> </h4>
    <p> $<%= snack.price.round(2) %></p>
  </section>
<% end %>
